.pagination {
    list-style: none;
}

.pagination li {
    display: inline-block;
}

.pagination li.active a {
    background: #ccc;
}

.pagination li a {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
}
