.reviews-rating {
    display: flex;
}

.reviews-rating .star-rating a {
  display: inline-block;
}

.reviews-rating .star-average {
    border-right: 1px solid #e8e8e8;
    margin: 0 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews-rating .star-total {
    display: flex;
    align-items: center;
    justify-content: center;
}
