.likert-scale {
    display: inline-block;
    position: relative;
    height: 80px;
  }

  .likert-scale .label {
    font-size: 14px;
    font-family: BrownStd, sans-serif, Arial;
    text-transform: lowercase;
    margin-bottom: 8px;
    position: relative;
    left: -5px;
  }

  .likert-scale .label::first-letter {
    text-transform: capitalize;
  }

  .likert-scale .line {
    background: #959595;
    position: relative;
    top: 6px;
    height: 1px;
    z-index: 0;
  }

  .likert-scale .dot {
    background: #29292a;
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    top: 25.66px;
    width: 10px;
    height: 10px;
    z-index: 1;
  }

  .likert-scale .dot-points {
    position: relative;
    left: -3px;
    top: 4px;
  }

  .likert-scale .small-dot {
    background: #959595;
    border-radius: 100%;
    width: 5px;
    height: 5px;
    position: absolute;
  }

  .likert-scale .small-dot span {
    color: #797979;
    font-size: 12px;
    font-family: BrownStd, sans-serif, Arial;
    position: absolute;
    top: 15px;
    left: -25px;
    width: 75px;
  }

  .likert-scale .small-dot:first-child span {
    left: 0;
  }
  .likert-scale .small-dot:last-child span {
    text-align: right;
    right: 0;
    left: initial;
  }
