.fl-textarea-container,
.fl-input-container {
    position: relative;
    padding-bottom: 20px;

    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.fl-textarea-container textarea:not(:focus):not(.fl-valid):not(.fl-invalid),
.fl-input-container input:not(:focus):not(.fl-valid):not(.fl-invalid) {
    color: transparent;
}

.fl-textarea-container textarea,
.fl-textarea-container label,
.fl-input-container input,
.fl-input-container label,
.fl-error-msg {
    -webkit-font-smoothing: antialiased;
    font-family: 'BrownStd', sans-serif;
    text-shadow: none;
}

.fl-textarea-container textarea,
.fl-input-container input {
    border: 1px solid #57585c;
    padding: 13.5px;
    resize: none;
    font-family: "BrownStd", sans-serif;
    font-size: 14px;
    text-transform: none;
    line-height: normal;
    appearance: none;
}

.fl-label {
    color: #757577;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .3em;

    opacity: 0.75;
    padding-left: 2px;
    pointer-events: none;

    transform: scale(1) translate3d(15px, 31px, 0);
    transform-origin: left top;
    transition: 200ms ease all;
    order: 1;
}

.fl-textarea-container textarea:focus + label,
.fl-textarea-container textarea.fl-valid + label,
.fl-input-container input:focus + label,
.fl-input-container input.fl-valid + label,
.fl-invalid + label {
    color: #b7b7b7;
    font-family: "BrownStd", sans-serif;
    font-weight: 400;
    letter-spacing: .3em;

    transform: scale(0.6) translate3D(10px, 35px, 0);
    opacity: 1;
}

.fl-textarea:active,
.fl-textarea:focus,
.fl-textarea-label,
.fl-input:active,
.fl-input:focus,
.fl-label {
    outline: 0;
}

.fl-textarea,
.fl-input {
    border: 0;
    color: #29292a;

    -webkit-flex: 1 1 auto;
    -webkit-order: 2;
    -ms-flex-order: 2;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    order: 2;
}

.fl-error-msg {
    bottom: 0;
    font-size: 13px;
    text-overflow: ellipsis;
    display: none;
    position: absolute;
    width: 90%;
    white-space: nowrap;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
}

.fl-error-show {
    display: inline-block;
}

.fl-textarea-container .fl-textarea.fl-invalid,
.fl-input-container .fl-input.fl-invalid {
    border: 1px solid #c00;
}

.fl-textarea-container .fl-textarea.fl-invalid + label,
.fl-input-container .fl-input.fl-invalid + label,
.fl-error-msg {
    color: #c00;
}
